* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
.form-control {
  background-color: #f0e2c5;
}

html {
  scroll-behavior: smooth;
}

.bg-primary {
  background-color: #f0e2c5;
}

.bg-secondary {
  background-color: #49281a;
}

.text-primary {
  color: #f0e2c5;
}

.text-secondary {
  color: #49281a;
}

.text-center {
  text-align: center;
}

.header-font {
  font-family: "Playfair Display SC", serif;
}

.body-font {
  font-family: "Lato", serif;
}
#header {
  background: url(images/web-logo-pic.jpg) no-repeat center center;
  background-size: cover; /* Ensures the whole image is visible */
  background-color: white;
  height: 50ch; /* Adjust this to control header height */
  width: 100%;
  padding-bottom: 100px;
  background-color: rgba(0, 0, 0, 0.7);
}

#header,
#our-menu,
#contact-us,
#about-us {
  padding-left: 20px;
  margin-bottom: 20px;
  background-color: #f0e2c5;
}

#our-menu h1,
#contact-us h1,
#about-us h1,
#header h1 {
  padding: 0px;
  margin-bottom: 10px;
  font-size: rem;
}

#header p {
  padding-bottom: 20px;
  margin-bottom: 10px;
}

#header a {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  height: 200px;
  text-align: center;
}

nav {
  background-color: rgba(73, 40, 26, 0.9);
  padding: 20px;
  font-family: "lato", serif;
  text-align: center;
  position: sticky;
  top: 0;
}

.social-icons {
  text-align: center;
}

nav a {
  color: #f0e2c5;
  text-decoration: none;
  text-align: center;
  padding: 40px;
}

nav a:hover {
  border-bottom: 2px solid #f0e2c5;
}
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#our-menu .card {
  border: 1px solid #000;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-family: "Lato", serif;
  text-align: center;
}

.card-img-top {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card-title {
  margin-top: 10px;
  padding: 10px 0;
  font-weight: bold;
}

.card-text {
  line-height: 1.5em;
  padding: 10px;
}
.span {
  margin-top: 20px;
  padding-top: 20px;
}
.btn {
  width: 100%;
  display: block;
  background-color: #49281a;
  padding: 10px 0;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  margin-top: 10px;
}

.btn:hover {
  transform: translatey(-2px);
  background-color: #655338;
}

#about-us p,
#contact-us p {
  font-family: "Lato", serif;
  padding: 10px 0;
  text-align: justify;
  line-height: 1.5em;
}
.form-control {
  max-width: 200px;
  margin: 10px auto;
  padding: 0px;
  background: #f8f8f8;
  border-radius: 10px;
}

#to-top {
  padding: 10px;
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #f0e2c5;
  text-decoration: none;
  background-color: #49281a;
}

#footer {
  text-align: center;
  font-family: "Lato", serif;
  padding: 20px;
  font-size: 0.9rem;
  background-color: #49281a;
  color: #f0e2c5;
}
