* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0e2c5;
}

.bg-primary {
  background-color: #f0e2c5;
}

.bg-secondary {
  background-color: #49281a;
}

.text-primary {
  color: #f0e2c5;
}

.text-secondary {
  color: #49281a;
}

.header-font {
  font-family: "Playfair Display SC", serif;
}

.body-font {
  font-family: "Lato", serif;
}

#header,
#our-menu,
#contact-us,
#about-us {
  padding-left: 20px;
  margin-bottom: 20px;
}

#our-menu h1,
#contact-us h1,
#about-us h1,
#header h1 {
  padding: 0px;
  margin-bottom: 10px;
  font-size: rem;
}

#header p {
  padding-bottom: 20px;
  margin-bottom: 10px;
}

#header a {
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  padding-bottom: 10px;
  text-align: center;
}

nav {
  background-color: rgba(73, 40, 26, 0.9);
  padding: 20px;
  font-family: "lato", serif;
  text-align: center;
  position: sticky;
  top: 0;
}

nav a {
  color: #f0e2c5;
  text-decoration: none;

  padding: 10px;
}

nav a:hover {
  border-bottom: 2px solid #f0e2c5;
}

#menu .card {
  border: 1px solid #f0e2c5;
  padding: 20px;
  border-radius: 50%;
  display: inline-block;
  font-family: "Lato", serif;
}

.card-title {
  padding: 10px 0;
}

.card-text {
  line-height: 1.5em;
}
.btn {
  padding: 12px 20px;
  transition: 1s;
  margin-top: 20px;
  cursor: pointer;
}

.btn:hover {
  transform: translatey(-2px);
  background-color: #655338;
  /* box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2); */
}

.text-center {
  text-align: center;
}
#to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #f0e2c5;
  text-decoration: none;
  background-color: #49281a;
}

#footer {
  text-align: center;
  font-family: "Lato", serif;
  font-size: larger;
}
/* .btn:hover {
  background-color: #98796c;
  transform: scale(1.1);
  cursor: context-menu;
} */
